server.port: 5601
server.host: "elk1.heimdall.akuadora.net"
#server.basePath: ""
#server.rewriteBasePath: false
server.publicBaseUrl: "http://[2a01:4f9:6a:202c::6]:5601"
#server.maxPayload: 1048576
server.name: "es.akuadora.net"
elasticsearch.hosts: ["http://[2a01:4f9:6a:202c::6]:9200","http://[2a01:4f9:6a:202c::5]:9200","http://[2a01:4f9:6a:202c::4]:9200"]
#kibana.index: ".kibana"
#kibana.defaultAppId: "home"
#elasticsearch.username: "kibana_system"
#elasticsearch.password: "pass"
#elasticsearch.serviceAccountToken: "my_token"
